version: 2.1

orbs:
  maven: entur/maven-orb@0.0.9
  owasp: entur/owasp@0.0.17
  queue: eddiewebb/queue@volatile

executors:
  java:
    docker:
      - image: cimg/openjdk:11.0.13
        auth:
          username: $DOCKERHUB_LOGIN
          password: $DOCKERHUB_PASSWORD
        environment:
          _JAVA_OPTIONS: -Xms512M -Xmx3G
          TERM: dumb
    resource_class: large

aliases:
  - &release
    name: Release
    command: |
      if [ "$(git log -n 1 --pretty="%an")" == "Renovate Bot" ]
      then
        echo "Skipping release"
      else
      echo "Start release"
      git config --global user.email "circleci@entur.no"
      git config --global user.name "circleci"
      git checkout master
      git pull --no-edit
      git checkout develop
      mvn gitflow:release-start gitflow:release-finish -DskipTests=true -Dspotless.check.skip=true -Prelease -DpostReleaseGoals=deploy -DargLine='-Prelease -DskipTests' -B
      fi

  - &import_gpg_key
    name: Configure GPG private key for signing project artifacts in OSS Sonatype
    command: |
      echo $SONATYPE_GPG_KEY_BASE64 | base64 --decode | gpg --batch --no-tty --import --yes

  - &maven-settings-file
    "\"<settings xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd' xmlns='http://maven.apache.org/SETTINGS/1.1.0'
                  xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
                <servers>
                  <server>
                    <username>$SONATYPE_USERNAME</username>
                    <password>$SONATYPE_PASSWORD</password>
                    <id>ossrh</id>
                  </server>
                </servers>
              </settings>\""

commands:
  generate-maven-settings-file:
    parameters:
      settings-file:
        type: string
    steps:
      - run:
          name: Generate Maven Settings File
          command: |
            mkdir -p ~/.m2
            echo -e << parameters.settings-file >> > ~/.m2/settings.xml

jobs:
  checkout-verify-deploy:
    executor: java
    environment:
      MAVEN_OPTS: -Xmx3G
    steps:
      - checkout
      - generate-maven-settings-file:
          settings-file: *maven-settings-file
      - maven/with_cache:
          verify_dependencies: false
          steps:
            - run:
                command: mvn clean verify
            - run: *import_gpg_key
            - run: *release

  sonar:
    executor: java
    steps:
      - checkout
      - generate-maven-settings-file:
          settings-file: *maven-settings-file
      - maven/with_cache:
          verify_dependencies: false
          steps:
            - run:
                command: |
                  mvn verify sonar:sonar -U \
                  -Dsonar.projectKey=entur_${CIRCLE_PROJECT_REPONAME} \
                  -Dsonar.organization=enturas-github \
                  -Dsonar.projectName=${CIRCLE_PROJECT_REPONAME} \
                  -Dsonar.host.url=https://sonarcloud.io \
                  -Dsonar.login=${ENTUR_SONAR_PASSWORD}

workflows:
  nightly-owasp-scan:
    triggers:
      - schedule:
          cron: "0 8 * * *"
          filters:
            branches:
              only: develop
    jobs:
      - owasp/maven_owasp_dependency_check:
          executor: java
          context: global
          wrapped_pre_steps:
            - run: mvn clean install -Dmaven.test.skip=true
          filters:
            branches:
              only:
                - develop

  nightly-sonar-analysis:
    triggers:
      - schedule:
          cron: "0 2 * * *"
          filters:
            branches:
              only: develop
    jobs:
      - sonar:
          context: global

  checkout-verify-deploy:
    jobs:
      - queue/block_workflow:
          time: '30'
          circleci-api-key: CIRCLE_API_USER_TOKEN
          context: global
          filters:
            branches:
              only:
                - develop
      - checkout-verify-deploy:
          context: global
          requires:
            - queue/block_workflow
          filters:
            branches:
              only:
                - develop
      - owasp/maven_owasp_dependency_check:
          executor: java
          context: global
          wrapped_pre_steps:
            - run: mvn clean install -Dmaven.test.skip=true
          filters:
            branches:
              only:
                - develop
