# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ '**' ]

jobs:
  build-with-github-cache:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # test against latest update of each major Java version, as well as specific updates of LTS versions:
        java: [ 8, 11 ]
    name: Java ${{ matrix.java }} build
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Adjust memory use for Maven
        run: echo "MAVEN_OPTS='-Xmx2g -XX:MaxPermSize=256m'" >> ~/.mavenrc
      - name: Build with Maven
        run: mvn verify
  owasp-dependency-check:
    runs-on: ubuntu-latest
    name: OWASP dependency check
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-owasp-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-owasp-
      - name: Adjust memory use for Maven
        run: echo "MAVEN_OPTS='-Xmx2g -XX:MaxPermSize=256m'" >> ~/.mavenrc
      - name: Build with Maven
        run: mvn clean install -Dmaven.test.skip=true
      - name: Check dependencies
        run: mvn org.owasp:dependency-check-maven:check

